<div class="col-md-12 col-sm-12">
    <div class="col-md-3 col-sm-3"></div>
    <div class="blog-notice col-md-6 col-sm-6">
        <% if (success) { %>
        <div class="alert alert-success" role="alert">
            <p>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <%= success %>
            </p>
        </div>
        <% } %>

        <% if (error) { %>
        <div class="alert alert-danger" role="alert">
            <p>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <%= error %>
            </p>
        </div>
        <% } %>
    </div>
    <div class="col-md-3 col-sm-3"></div>
</div>