<%- include('header') %>

<div class="page_noPost text-center">
    <img src="/img/nopost.jpg" alt="找不到图片啦" class="img-responsive img_nopost">
    <h4 class="text-center">Oops！你还未发表文章哦！</h4>
    <a href="/posts/create">>> 发表文章</a>
</div>

<%- include('footer') %>