<%- include('header') %>

<div class="col-md-12 col-sm-12">
    <div class="col-md-8 col-sm-8 main-left">
        <% posts.forEach(function (post) { %>
        <%- include('components/post-content', { post: post }) %>
        <% }) %>

    </div>
    <%- include('components/popular') %>
</div>

<%- include('footer') %>