.nav > li > a {
    display: inline-block;
}
.blog-nav {
    background-color: rgba(255,241,241,0.8);
    padding: 10px 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.icon-bar {
    background-color: #00a0e9;
}
.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}
.blog-title {
    color: #F08884;
    font-size: 30px;
}
.navbar-header a:hover {
    color: rgb(260,195,186);
}

.navbar-nav a {
    font-size: 16px;
    color: #000;
}

.navbar-nav li a:hover, .navbar-nav .open a:focus {
    background-color: rgba(51,122,183,0.4);
    color: #fff;
}

/*.navbar-nav li a:visited {
    background-color: red;
}*/

.blog-sign {
    padding: 15px;
    margin: 20px 15px;
    border: 1px solid #f0c3ba;
    border-radius: 1em;
}

.blog-sign h4{
    color: rgb(240,195,186);
    margin-bottom: 20px;
    font-weight: 600;
}

.blog-btn, .comment-btn {
    margin-top: 10px;
    color: #fff;
    background-color: rgb(260,195,186);
    min-width: 100%;
    font-weight: 600;
    font-size: 16px;
}

.comment-btn {
    min-width: 15%;
}

.blog-notice {
    margin: 20px 0;
}

.post-content {
    padding: 0 20px !important;
    border-left: 1px solid rgb(240,195,186);
}
.comments-content {
    padding: 0 20px !important;
    margin: 20px 0 20px 30px;
    border: 1px solid rgb(240,195,186);
    border-radius: 0.5em;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 20px auto 5px auto;
}

.small-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
}

.tag {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}
.tag span {
    margin-right: 5px;
}

.editmenu {
    min-width: 40px;
}

.comment {
    padding-left: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(240,195,186,0.3);
}
.comment:last-child {
    border-bottom: 0;
}
.content {
    margin-left: 15px;
}
.main-content {
    padding: 10px;
    background-color: rgba(240,195,186,0.15);
    border-radius: 0.5em;
    margin-bottom: 10px;
}
.name {
    color: #0d3349;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.delete-btn {
    padding: 2px;
}
.delete-btn a:hover{
    text-decoration: none;
    border-bottom: 4px solid rgb(240,195,186);
}

.col-md-1,.col-sm-1,.col-md-10,.col-sm-10 {
    padding: 0;
}

.page_404 p {
    color: #00a0e9;
    font-size: 50px;
    font-family: "Calibri", "sans-serif";
    font-weight: bold;
    margin: 5px 0;
}

.page_404 a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 0.4em;
    background-color: #0a246a;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.big-avatar {
    width: 40%;
    margin: 10px 0;
}

.img_404 {
    display: block;
    margin: 40px auto;
}

.hideInput {
    display: none !important;
}

.select-btn {
    background-color: rgb(260,195,186);
    color: #fff;
}
.img_nopost {
    width: 10%;
    display: block;
    margin: 50px auto 20px auto;
}

.page_noPost a {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(260,195,186);
    text-decoration: none;
}

.red-color {
    color: red;
}

.nav-avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
    margin-top: -6px;
}

.content-control {
    /*overflow:hidden;
    word-break:break-all;
    display:-webkit-box;
    -webkit-line-clamp:10;
    -webkit-box-orient:vertical;*/

    whitewhite-space:pre-wrap; /* css-3 */
    whitewhite-space:-moz-pre-wrap; /* Mozilla, since 1999 */
    whitewhite-space:-pre-wrap; /* Opera 4-6 */
    whitewhite-space:-o-pre-wrap; /* Opera 7 */
    word-wrap:break-word; /* Internet Explorer 5.5+ */
    white-space: pre-wrap; /* Firefox */
    border: 0;
    background-color: rgba(240,195,186,0.15);
    font-size: 14px;
}

.main-left {
    margin: 0 15px 0 30px;
}
.main-right {
    background-color: #fff;
}

.main-content-itme {
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 1px dotted rgb(240,195,186);
}

.main-content-left a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.whiteColor {
    background-color: #fff;
}

/*.personal-post {
    padding: 20px 80px;
}*/

.personal-content {
    margin-left: 30px;
    padding: 10px 20px;
    border: 1px solid rgb(240,195,186);
    border-radius: 0.5em;
}

.personal-content-item {
    border-bottom: 1px dotted rgb(240,195,186);
}

.author-msg {
    border: 1px solid rgb(240,195,186);
    border-radius: 0.5em;
}

.author-msg img {
    width: 50%;
    margin: 15px auto;
}

.title {
    font-size: 20px;
    color: rgb(240,195,186);
    font-weight: 600;
    padding: 10px;
}

.author-msg-item {
    border-bottom: 1px dotted rgb(240,195,186);
}

.main-msg-item {

}

.hot-wrap {
    padding: 0 20px 10px;
}

.hot-wrap li a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.hot-wrap li a:hover {
    color: rgba(20, 69, 124, 0.55);
}

.hot-wrap li span {
    margin-left: 10px;
}

.hot-wrap li {
    padding: 10px;
    border-bottom: 1px dotted rgb(240,195,186);
}

.hot-wrap li:last-child {
    border-bottom: 0;
}

@media screen and (max-width:736px) {
    .personal-content {
        margin: 15px 0 10px 0;
    }

    .main-left {
        margin: 10px 0;
    }

    .comments-content {
        margin: 10px 0;
    }
}